[submodule "xmarts/xmarts_e_learning"]
	path = xmarts/xmarts_e_learning
	url = git@github.com:xmarts/xmarts_e_learning.git
	branch = 14.0

[submodule "xmarts/multi-branch"]
	path = xmarts/multi-branch
	url = git@github.com:xmarts/multi-branch.git
	branch = 14.0

[submodule "xmarts/bi_odoo_multi_branch_hr"]
	path = xmarts/bi_odoo_multi_branch_hr
	url = git@github.com:xmarts/bi_odoo_multi_branch_hr.git
	branch = 14.0
