[submodule "xmarts/material_purchase_requisitions"]
	path = xmarts/material_purchase_requisitions
	url = git@github.com:xmarts/material_purchase_requisitions.git
	branch = 14.0

[submodule "xmarts/xma_mantenimientoplus"]
	path = xmarts/xma_mantenimientoplus
	url = git@github.com:xmarts/xma_mantenimientoplus.git
	branch = 14.0

[submodule "xmarts/multi-branch"]
	path = xmarts/multi-branch
	url = git@github.com:xmarts/multi-branch.git
	branch = 14.0

[submodule "xmarts/portal_maintenance"]
	path = xmarts/portal_maintenance
	url = git@github.com:xmarts/portal_maintenance.git
	branch = 14.0
